In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr

In [3]:
ações = ['VALE5.SA', 'USIM5.SA', 'PETR3.SA', 'CSNA3.SA', 'BBAS3.SA', 'CMIG4.SA', 'CESP6.SA']
carteira = pd.DataFrame()
for i in ações:
    carteira[i] = pdr.DataReader(i, data_source='yahoo', start='2008-01-01', end='2008-01-31')['Adj Close']

In [4]:
retorno = carteira.pct_change()
retorno

,VALE5.SA,USIM5.SA,PETR3.SA,CSNA3.SA,BBAS3.SA,CMIG4.SA,CESP6.SA
Date,,,,,,,
2008-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-03,0.014199,-0.007362,-0.014476,0.021159,-0.015101,-0.006041,0.072755
2008-01-04,-0.035800,-0.029666,-0.059339,-0.032154,-0.011585,-0.021278,-0.035641
2008-01-07,-0.014520,-0.048408,-0.034333,-0.032700,0.023785,0.005903,-0.030623
2008-01-08,0.018733,0.000000,0.060185,0.018893,0.020539,0.000000,0.025926
2008-01-09,0.002066,0.067336,0.016970,-0.013245,0.017816,0.065141,0.019750
2008-01-10,0.030928,-0.021698,-0.020660,0.036913,0.028849,-0.005796,-0.006664
2008-01-11,-0.031600,-0.024744,-0.016227,-0.025890,-0.051039,-0.030031,-0.053459
2008-01-14,0.009500,0.056921,-0.005154,0.021861,-0.003985,-0.005409,0.029236
2008-01-15,-0.032324,-0.017289,-0.048705,-0.024644,-0.023000,-0.037777,-0.033785
2008-01-16,-0.041226,0.005569,-0.043573,-0.055266,-0.000341,0.009736,-0.020045
2008-01-17,0.007718,-0.048458,-0.053417,-0.019053,-0.010580,-0.026750,0.000000
2008-01-18,0.025602,0.068783,0.015522,0.028703,-0.015178,0.003517,0.000000
2008-01-22,-0.077235,-0.059406,0.022038,0.006993,0.005255,-0.031212,-0.007045
2008-01-23,-0.061041,-0.064474,-0.019244,-0.041667,-0.045296,-0.043391,0.016251
2008-01-24,0.076090,0.068917,0.078014,0.100000,0.074816,0.030928,-0.013513
2008-01-25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2008-01-28,0.006865,0.019737,0.064912,0.051383,-0.011884,-0.021001,-0.006849
2008-01-29,0.005682,0.040645,-0.001236,0.014474,0.020619,-0.002384,-0.011494
2008-01-30,0.021695,0.022939,0.025258,0.016120,0.023569,-0.032424,-0.005116
2008-01-31,-0.009733,0.000000,-0.030669,0.002917,-0.037829,-0.013754,0.063581

In [5]:
retorno_anual = retorno.mean() * 20
retorno_anual

VALE5.SA   -0.084401
USIM5.SA    0.029343
PETR3.SA   -0.064134
CSNA3.SA    0.074796
BBAS3.SA   -0.010570
CMIG4.SA   -0.162021
CESP6.SA    0.003262
dtype: float64

In [6]:
peso = np.array([0.373, 0.0775, 0.1860, 0.0113, 0.0328, 0.2458, 0.0736])
peso.sum()

1.0

In [7]:
retorno_esperado = np.dot(peso, retorno_anual)
retorno_esperado

-0.08022288285881936

In [35]:
volatilidade = np.sqrt(np.dot(peso.T, np.dot(cov,peso)))
volatilidade

0.2760637345883754

In [36]:
sharpe = retorno_esperado/volatilidade
sharpe

1.9034738825975341